<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div>
        <h1>About Page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic fugit distinctio nostrum necessitatibus consequatur molestiae cupiditate nemo accusamus exercitationem. Consequatur ullam vitae natus voluptates rem repellendus vel, ea nesciunt inventore?</p>
    </div>
    
</body>
</html>